- var number = Math.floor(Math.random() * 100) + 1;

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    case number
      when number < 25
        p The number is less than 25
      when number > 50
        p The number is less than 50
      when number > 75
        p The number is less than 75
      default
        p The number is greater than 75
